@import "tailwindcss";

:root {
  --background: #0B0E0B;
  --textColor: #ffffff;
  --textPrimary: #2FC976;
  --textTitle: #989898;
  --primary: #31E583;
}

@theme inline {
  --color-background: var(--background);
  --color-textColor: var(--textColor);
  --color-textPrimary: var(--textPrimary);
  --color-textTitle: var(--textTitle);
  --color-primary: var(--primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {

  }
} */

body {
  background: var(--background);
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
}
